In [1]:
import numpy as np
import pandas as pd
s = pd.Series([1,2,3,np.nan, 5, 6], index=['A','B','C','D','E','F'])
print(s)

A    1.0
B    2.0
C    3.0
D    NaN
E    5.0
F    6.0
dtype: float64

In [2]:
data = {'Gender': ['F', 'M', 'M'], 'Emp_ID': ['E01', 'E02', 'E03'], 'Age': [25,27,25]}
df = pd.DataFrame(data, columns=['Emp_Id', 'Gender', 'Age'])
print(df)
print(df.Emp_Id)
print(df.Emp_Id[0])

  Emp_Id Gender  Age
0    NaN      F   25
1    NaN      M   27
2    NaN      M   25
0    NaN
1    NaN
2    NaN
Name: Emp_Id, dtype: object
nan

In [ ]:
df1 = pd.read_csv('matches.csv')
df2 = pd.read_csv('matches.txt')
df3 = pd.read_csv('matches.xls')

xlsx = pd.ExcelFile('filename.xls')
sheet1_df = pd.read_excel(xlsx, 'Sheet1')
sheet2_df = pd.read_excel(xlsx, 'Sheet2')

df.to_csv('matches.csv', index=False)
df.to_csv('matches.txt',sep='\t', index=False)
df.to_excel('matches.xlsx', sheet_name='Sheet1', index=False)

In [3]:
df = pd.read_csv('iris.csv')
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [4]:
df = pd.read_csv('iris.csv')
df.cov()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1887.500000,25.782886,-7.492282,67.667785,29.832215
SepalLengthCm,25.782886,0.685694,-0.039268,1.273682,0.516904
SepalWidthCm,-7.492282,-0.039268,0.188004,-0.321713,-0.117981
PetalLengthCm,67.667785,1.273682,-0.321713,3.113179,1.296387
PetalWidthCm,29.832215,0.516904,-0.117981,1.296387,0.582414

In [8]:
df = pd.read_csv('iris.csv')
df.corr()

FileNotFoundError: [Errno 2] No such file or directory: 'Data/iris.csv'